<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'show', media: 'all', 'data-turbolinks-track' => true %>
<main>
    <%= link_to 'Voltar', table_index_path, class:'button' %>
</main>