@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font: 10px 'Roboto';
    color: black;
    text-align: center;
    background: #ffffff;
}

.table-borderless td {
    flex-grow: 1;
    min-width: 80px;
    max-width: 80px;
    min-height: 65px;
    max-height: 65px;
}

.table-borderless {
    margin-right: 25px;
}

.diatomic.nonmetal {
    color: black;
    background-color: rgb(163, 237, 0);
}

.polyatomic.nonmetal {
    color: black;
    background-color: rgb(163, 237, 0);
}

.noble.gas {
    color: black;
    background-color: rgb(200, 166, 255)
}

.alkali.metal {
    color: black;
    background-color: rgb(245, 200, 100);
}

.alkaline.earth.metal {
    color: black;
    background-color: rgb(240, 230, 90);
}

.metalloid {
    color: black;
    background-color: rgb(153, 230, 255)
}

.post-transition.metal {
    color: black;
    background-color: rgb(179, 179, 179)
}

.transition.metal {
    color: black;
    background-color: rgb(245, 175, 175);
}

.lanthanide {
    color: black;
    background-color: rgb(215, 186, 40)
}

.actinide {
    color: black;
    background-color: rgb(231, 207, 207);
}

.subtitle-diatomic-nonmetal {
    background-color: rgb(163, 237, 0);
}

.subtitle-noble-gas {
    background-color: rgb(200, 166, 255)
}

.subtitle-alkali-metal {
    background-color: rgb(245, 200, 100);
}

.subtitle-alkaline-earth-metal {
    background-color: rgb(240, 230, 90);
}

.subtitle-metalloid {
    background-color: rgb(153, 230, 255)
}

.subtitle-post-transition-metal {
    background-color: rgb(179, 179, 179)
}

.subtitle-transition-metal {
    background-color: rgb(245, 175, 175);
}

.subtitle-lanthanide {
    background-color: rgb(215, 186, 40)
}

.subtitle-actinide {
    background-color: rgb(231, 207, 207);
}

.subtitle-header {
    background-color: #313435;
    color: white;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 20px;
}

h3 {
    margin: 0;
    font-size: 10px;
}

h4 {
    margin-top: 1px;
    font-size: 9px;
}

h5 {
    font-size: 16px;
}

main {
    margin: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}

section {
    height: 65px;
    border: 2px solid;
    border-radius: 8px;
    line-height: 1.25;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span {
    font-size: 9px;
    position: absolute;
    top: 3px;
    right: 3px;
}

a:link {
    text-decoration: none;
}

section:hover {
    transition: .3s;
    transform: scale(1.3);
    cursor: pointer;
    z-index: 2;
}