@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font: .65em 'Roboto';
    color: black;
    text-align: center;
    padding: 1em;
    background: #ffffff;
}

div.element {
    flex-grow: 1;
    min-width: 7em;
    max-width: 7em;
    min-height: 7em;
    max-height: 7em;
    margin: 0.25em;
}

div.row {
    display: flex;
    justify-content: center;
}

.diatomic.nonmetal {
    color: black;
    background-color: rgb(163, 237, 0);
}

.polyatomic.nonmetal {
    color: black;
    background-color: rgb(163, 237, 0);
}

.noble.gas {
    color: black;
    background-color: rgb(200, 166, 255)
}

.alkali.metal {
    color: black;
    background-color: rgb(245, 200, 100);
}

.alkaline.earth.metal {
    color: black;
    background-color: rgb(240, 230, 90);
}

.metalloid {
    color: black;
    background-color: rgb(152, 212, 255)
}

.halogenio {
    color: black;
    background-color: rgb(170, 225, 255);
}

.post-transition.metal {
    color: black;
    background-color: rgb(190, 210, 210);
}

.transition.metal {
    color: black;
    background-color: rgb(245, 175, 175);
}

.lanthanide {
    color: black;
    background-color: rgb(226, 205, 95);
}

.actinide {
    color: black;
    background-color: rgb(240, 166, 167);
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2em;
    margin-top: .7em;
}

p:last-child {
    font-size: .8em;
}

main {
    margin: auto;
}

section {
    height: 7em;
    border: .125rem solid;
    border-radius: .5rem;
    line-height: 1.25;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span {
    font-size: .8em;
    position: absolute;
    top: .3em;
    right: .5em;
}

.table {
    margin: auto;
}